<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ongair.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63C8141C1E48742F00EC727E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63C814301E48742F00EC727E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63C8143B1E48742F00EC727E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
